.additional-item {
  display: flex;
  flex-direction: column;
  min-height: 98px;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 13px;
  border-top: 1px solid $special_grey;

  &:last-child {
    border-bottom: 1px solid $special_grey;
  }

  @media (min-width: $tablet-width) {
    min-height: 140px;
    border: 1px solid $special_grey;
    max-width: 708px;
    padding: 27px 38px;
    margin-bottom: 0;
    justify-content: space-between;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 244px;
    padding: 14px 0 17px;
    align-items: center;
    border: none;
    border-top: 1px solid $special_grey;
    margin: 0;
    max-width: none;
    min-height: 0;

    &:last-child {
      border-bottom: 1px solid $special_grey;
    }
  }
}

.additional-item__container {
  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 632px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: none;
  }
}

.additional-item__title {
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    margin-bottom: 0;
  }
}

.additional-item__button {
  @media (min-width: $tablet-width) {
    min-width: 632px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 244px;
    margin: 0;
    max-height: 40px;
    align-self: center;
    margin-left: auto;
  }
  min-width: 280px;
  padding: 10px;
}

.additional-item__wrapper {
  margin-bottom: 15px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    display: grid;
    grid-template-columns: auto minmax(92px, auto);
    padding-top: 3px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto minmax(82px, auto);
    margin: 0;
    text-align: left;
  }
}

.additional-item__size {
  @media (min-width: $desktop-width) {
    margin-right: auto;
  }
}
