.additional {
  overflow: hidden;
}

.additional-item {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 13px;
  border-top: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    min-height: 140px;
    border: 1px solid $special_grey;
    max-width: 708px;
    padding: 27px 38px;
    margin-bottom: 0;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 895px;
    min-height: 72px;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid $special_grey;

    &:last-child {
      border-bottom: 1px solid $special_grey;
    }
  }
}

.additional-item__container {
  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 632px;
    flex-grow: 1;
  }
}

.additional-item__title {
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    margin-bottom: 0;
    width: 150px;
  }
}

.additional-item__button {
  @media (min-width: $tablet-width) {
    min-width: 632px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 244px;
    margin: 0;
    max-height: 40px;
    align-self: center;
    margin-left: auto;
  }
  min-width: 280px;
  padding: 10px;
}

.additional-item__wrapper {
  margin-bottom: 15px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 0;
  }
}

.additional-item__price {
  @media (min-width: $tablet-width) {
    margin-left: 50px;
  }
}

.additional-item__size {
  @media (min-width: $desktop-width) {
    width: 125px;
    margin: 0 auto;
  }
}
