.addition__list {
  @include list-default;
  display: grid;
  grid-auto-rows: 30px;
  row-gap: 13px;
  margin: 34px 0;


  @media (min-width: $tablet-width) {
    max-width: 565px;
    grid-template-columns: repeat(2, 221px);
    column-gap: 123px;
    grid-template-rows: repeat(2, 40px);
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    max-width: auto;
    grid-template-columns: repeat(4, 221px);
    column-gap: 104px;
    grid-template-rows: 40px;
  }
}

.addition__item {
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 16px;


  @media (min-width: $tablet-width) {
    grid-template-columns: 40px 1fr;
    column-gap: 19px;
  }
}

.addition__mark {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.addition__input:checked + .addition__mark {
  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 14px;
    background: url("../img/chek.svg") center no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 18px;
    }
  }
}

.addition__label {
  align-self: center;
}
