.addition__list {
  padding: 25px 20px 35px;
}

.addition__action {
  height: 290px;
  width: 280px;
  margin: 0 auto;
  background: url("../img/bg-addition.png") center no-repeat,
    $basic-green;
  background-blend-mode: soft-light;
}

.addition__title {
  margin: 0;
}
