.additional__action {
  display: flex;
  flex-direction: column;
  min-height: 290px;
  min-width: 280px;
  margin: 35px 0;
  background: url("../img/bg-addition.png") center/cover no-repeat,
    $basic-green;
  background-blend-mode: soft-light;

  @media (min-resolution: 2dppx) {
    background: url("../img/bg-addition@2x.png") center/cover no-repeat,
      $basic-green;
    background-blend-mode: soft-light;
  }


  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 200px;
    max-width: 707px;
    background: url("../img/bg-addition-tab.png") center/contain no-repeat,
      $basic-green;
    background-blend-mode: soft-light;

    margin-top: 70px;
    margin-bottom: 76px;

    @media (min-resolution: 2dppx) {
      background: url("../img/bg-addition-tab@2x.png") center/contain no-repeat,
        $basic-green;
      background-blend-mode: soft-light;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    min-height: 289px;
    background: url("../img/bg-addition-desktop.png") center/contain no-repeat,
      $basic-green;
    background-blend-mode: soft-light;
    flex-direction: column;
    margin: 0;

    @media (min-resolution: 2dppx) {
      background: url("../img/bg-addition-desktop@2x.png") center/contain no-repeat,
        $basic-green;
      background-blend-mode: soft-light;
    }
  }
}

.additional__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 86px;
  }
}

.additional__list {
  @include list-default;

  @media (min-width: $desktop-width) {
    min-width: 895px;
  }
}

.additional__title {
  padding-right: 22px;
  line-height: 24px;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 36px;
  text-transform: none;


  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 37px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 35px;
    margin-top: 75px;
    margin-bottom: 81px;
  }
}

.additional__action-icon {
  width: 62px;
  height: 62px;
  background: url("../img/additional-icon-mob.svg") center no-repeat;
  margin: 0 auto;
  margin-top: 65px;
}

.additional__action-content {
  min-height: 60px;
  width: 160px;
  margin: 0 auto;
  margin-top: 61px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
