.addition-item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    min-height: 140px;
    border: 1px solid $special_grey;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    min-height: 72px;
  }
}

.addition-item__container {
  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 632px;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 25px;
  }
}

.addition-item__title {
  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}

.addition-item__button {
  @media (min-width: $tablet-width) {
    min-width: 632px;
    margin: 0 auto;
  }
  min-width: 280px;
  padding: 10px;
}
