.address {
  background-color: $basic_grey;

  &--index {
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.address__wrapper {
  position: relative;
  min-width: 320px;
  background-color: $basic_grey;
  padding: 26px 20px;

  &--index {
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &--index {
      background-color: $white;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    background-color: transparent;
    min-width: auto;
  }
}

.address__container {
  display: flex;
  background-color: #f2f2f2;

  @media (min-width: 321px) {
    justify-content: space-between;
  }

  &--index {
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    min-height: 199px;
    max-width: 768px;
    padding: 56px 70px;
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
    min-width: 565px;
    min-height: 198px;
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;
    padding: 56px 80px;
    align-items: center;
  }
}

.address__dealer {
  font-family: $font-default;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__map {
  height: 362px;
  position: relative;
  background-color: #f2f2f2;


  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.address__image {
  display: block;
  margin: 0 auto;
  width: 320px;
  background-color: #f2f2f2;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.address__map-interactiv {
  position: absolute;
  top: 0;
  height: 362px;
  width: 100%;


  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.address__map-interactiv--nojs {
  display: none;
}

.address__contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  margin-left: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    text-align: left;
  }
}

.address__contacts hr {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    opacity: 0;
  }
}

.address__contacts-dealer {
  font-family: $font-default;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    align-self: flex-end;
  }
}
