.address {
  position: relative;
}

.address__container {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  background-color: $white;

  @media (min-width: $desktop-width) {
    width: 565px;
    height: 198px;
    position: absolute;
    bottom: 107px;
    left: 110px;
    z-index: 1;
  }
}

.address__container--catalog {
  background-color: #f2f2f2;
}

.address__content {
  font-style: normal;
  line-height: 20px;
}

.address__dealer {
  font-family: $font-default;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.address__map {
  height: 362px;
}
