.advantages {
  margin-bottom: 50px;

  @media (min-width: $desktop-width) {
    margin-bottom: 205px;
  }
}

.advantages__container {
  padding-top: 20px;
  background-color: $white;
}

.advantages__list {
  @include list-default;
  display: grid;
  grid-auto-rows: 60px;
  row-gap: 20px;
  counter-reset: list1;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: 280px;
    row-gap: 37px;
    column-gap: 137px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, auto);
    column-gap: 77px;
  }
}

.advantages__item {
  height: 60px;
  display: grid;
  grid-template-columns: 60px auto;
  column-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-rows: 40px 80px 31px auto 57px;
    grid-template-columns: auto;
    column-gap: 0;
    height: 100%;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    list-style-type: none;

    &::after {
      font-family: $font-default;
      counter-increment: list1;
      content: counter(list1) "";
      position: absolute;
      text-align: right;
      line-height: 280px;
      font-size: 280px;
      min-height: 280px;
      min-width: 136px;
      color: $basic_grey;
      top: 0;
      right: 0;
    }
  }
}

.advantages__icon {
  width: 60px;
  height: 60px;
  grid-column: 1/2;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    grid-row: 2/3;
  }
}

.advantages__icon--num-1 {
  background: url("../img/advantages__icon-1.svg") center no-repeat,
    $basic-green;
}

.advantages__icon--num-2 {
  background: url("../img/advantages__icon-2.svg") center no-repeat,
    $basic-green;
}

.advantages__icon--num-3 {
  background: url("../img/advantages__icon-3.svg") center no-repeat,
    $basic-green;
}

.advantages__icon--num-4 {
  background: url("../img/advantages__icon-4.svg") center no-repeat,
    $basic-green;
}

.advantages__argument {
  margin: 0;
  grid-column: 2/3;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    grid-area: 4/1/5/-1;
  }
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  text-transform: none;
  margin-bottom: 40px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}
