.button {
  display: block;
  background-color: $basic-green;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  min-height: 40px;
  border: none;
  text-decoration: none;

  &--new {
    background-color: #f2f2f2;
    color: #444444;
  }
}
