.button {
  display: block;
  background-color: $basic-green;
  color: $white;
  font-family: $font-default;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  min-height: 40px;
  border: none;
  text-decoration: none;
  padding: 10px;

  &:hover {
    background-color: $basic_green-2;
  }

  &:active {
    background-color: $basic_green-2;
    color: rgba(250, 250, 250, 0.3);
  }

  &--new {
    background-color: #f2f2f2;
    color: #444444;

    &:hover {
      cursor: pointer;
      background-color: #ebebeb;
    }

    &:active {
      cursor: pointer;
      background-color: #ebebeb;
      color: rgba(68, 68, 68, 0.3);
    }
  }
}
