.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin: 0;
  font-family: $font-default;
  font-size: 24px;
  line-height: 37px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.line {
  position: relative;
  display: inline-block;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: 2px;
    margin-top: calc(1em / 2 + 2px);
    background-color: $basic-green;
  }

  &::after {
    margin-left: 18px;
    left: 100%;
  }

  &::before {
    margin-right: 22px;
    right: 100%;
  }
}
