.compare {
  @media (min-width: $tablet-width) {
    position: relative;
    margin-top: 32px;
    height: 511px;
    overflow: hidden;
    top: 25px;
  }
}

.compare__image-after-wrapper {
  @media (min-width: $tablet-width) {
    position: absolute;
    height: 511px;
    width: 50%;
    top: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
}

.compare__image-before-wrapper {
  @media (min-width: $tablet-width) {
    position: absolute;
    height: 511px;
    width: 50%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
  }
}
