.control-select {
  display: grid;
  grid-template-rows: 30px 30px 30px;
  row-gap: 13px;

  @media (min-width: $tablet-width) {
    grid-template-rows: repeat(3, 40px);
  }
}

.control-select__item {
  position: relative;
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 15px;
  height: 30px;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 40px auto;
    column-gap: 20px;
    height: 40px;
  }
}

.control-select__title {
  position: absolute;
  font-family: $font-default;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey-2;
  grid-column: 2/3;
  left: -45px;
  padding-left: 45px;
  cursor: pointer;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    left: -60px;
    padding-left: 60px;
  }
}

.control-select__mark {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $special_grey;
  grid-column: 1/2;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.control-select__input:checked + .control-select__mark {
  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: $basic-green;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
    }
  }
}

.control-select__input:hover + .control-select__mark {
  border: 1px solid #bababa;
}

.control-select__input:active + .control-select__mark {
  opacity: 0.3;
}

.control-select__input:focus ~ .control-select__title {
  outline: 1px solid;
  outline-offset: 10px;
}

.control-select__input:not(:disabled) ~ .control-select__title:active {
  opacity: 0.3;
}

.control-select__input:disabled {
  opacity: 0.3;
}
