.control-data {
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 12px;
  width: 280px;

  @media (min-width: 321px) {
    width: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    column-gap: 14px;

    &:last-child {
      margin: 0;
    }
  }
}

.control-data__title {
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  align-self: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.control-data__input {
  padding: 0 5px;
  padding-top: 7px;

  &:invalid {
    border: 2px solid $status_error;
  }
  border: 2px solid #e7e7e7;

  &:hover {
    border: 2px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
  }


  &::placeholder {
    font-family: $font-default;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.control-data__mail-icon {
  position: absolute;
  width: 19px;
  height: 14px;
  right: 16px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.control-data__tel-icon {
  position: absolute;
  width: 20px;
  height: 21px;
  right: 13px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.control-data__input:invalid ~ .control-data__mail-icon svg,
.control-data__input:invalid ~ .control-data__tel-icon svg {
  stroke: $status_error;
}

.control-data__mail-icon svg {
  stroke: #222222;
}

.control-data__input:focus ~ .control-data__mail-icon svg,
.control-data__input:focus ~ .control-data__tel-icon svg {
  stroke: $basic-green;
}
