.container {
  min-width: 320px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    width: 1440px;
  }
}
