.diet {
  min-height: 266px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-bottom: 0;


  @media (min-width: $tablet-width) {
    min-height: 372px;
    max-width: 708px;
  }

  @media (min-width: $tablet-width) {
    min-height: 374px;
  }
}

.diet__icon {
  grid-area: 1/1/2/2;

  @media (min-width: $tablet-width) {
    grid-area: 1/2/-1/3;
    align-self: center;
  }


  &--fatten {
    width: 67px;
    height: 53px;
    background: url("../img/fatten-icon-mob.svg") center no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 200px;
      background-size: 268px 200px;
      align-self: start;
      margin-top: 14px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      width: 134px;
      height: 100px;
      grid-area: 1/1/2/2;
      background-size: 134px 100px;
      align-self: end;
    }
  }

  &--slimming {
    width: 50px;
    height: 53px;
    background: url("../img/slimming-icon-mob.svg") center no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 205px;
      background-size: 200px 205px;
      align-self: start;
      margin-top: 13px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 106px;
      grid-area: 1/1/2/2;
      background-size: 100px 106px;
      margin: 0;
    }
  }
}

.diet__title {
  text-align: left;
  align-self: center;
  grid-area: 1/2/2/3;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    grid-area: 1/1/2/2;
    align-self: end;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1/2/2/3;
    align-self: center;
    justify-self: start;
  }
}

.diet__argument {
  margin: 0;
  grid-area: 2/1/3/-1;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #d9d9d9;
    left: 0;
    right: 0;
    bottom: -23px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: $black;
    grid-area: 2/1/3/2;
    align-self: center;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-area: 2/1/3/-1;
    align-self: end;
    padding-top: 20px;
  }
}

.diet__link {
  @include link-default;
  position: relative;
  font-family: $font-default;
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
  grid-column: 1/-1;
  padding-left: 0;
  justify-self: start;
  color: $black;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    grid-area: 3/1/4/2;
    align-self: end;
    padding-right: 30px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-area: 3/1/4/-1;
    align-self: start;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.diet__link-arrow {
  position: absolute;
  width: 24px;
  height: 12px;
  right: -20px;
  top: calc(1em / 2 + 15px);
  background: url("../img/icon-arrow.svg") center no-repeat;
  background-size: cover;
  transition: all 0.3s;

  @media (min-width: $tablet-width) {
    top: calc(1em / 2 + 20px);
  }

  @media (min-width: $desktop-width) {
    top: 0.5em;
  }
}

.diet__link:hover .diet__link-arrow {
  width: 32px;
  transform: translateX(8px);
}

.diet__link:active,
.diet__link:active .diet__link-arrow {
  opacity: 0.3;
}
