.example {
  background-color: $basic_grey;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }
}

.example__container {
  background-color: #eaeaea;
  padding: 0 20px 40px 20px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    padding: 0;
    border-top: 2px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 66px;
    max-width: 1440px;
    margin: 0 auto;
    border: none;
  }
}

.example__wrapper-item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    margin-bottom: 55px;
  }
}

.example__wrap-result {
  @media (min-width: $tablet-width) {
    background-color: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
    margin-top: auto;
  }
}

.example__item {
  margin: 0;
  border: 1px solid #cdcdcd;
  width: 124px;
  height: 56px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 75px;

    &:first-child {
      margin-right: 42px;
    }
  }
}

.example__description {
  display: inline-block;
  background-color: #eaeaea;
  line-height: 14px;
  margin: 0 15px;
  position: relative;
  bottom: -10px;

  @media (min-width: $tablet-width) {
    bottom: -16px;
  }
}

.example__number {
  font-family: $font-default;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $black;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__profit-wrapper {
  text-align: center;
  font-family: $font-default;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.example__result-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 15px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 31%;
    height: 70%;
    border: 2px solid $special_grey;
    border-radius: 6px;
    background-color: $white;
    right: 35%;
    top: 25%;

    @media (min-width: $tablet-width) {
      width: 72%;
      height: 15%;
      right: 15%;
      top: 45%;
      background-color: $special_grey;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 12.5%;
    height: 30%;
    border-radius: 6px;
    background-color: $basic-green;
    left: 37%;
    top: 45%;
    z-index: 1;
    transition: all 1s ease-out;

    @media (min-width: $tablet-width) {
      width: 34px;
      height: 34px;
      border: 2px solid $special_grey;
      border-radius: 50%;
      background: url("../img/slider-control.svg") center no-repeat,
        $white;
      top: -30%;
      left: 10%;
      transition: all 1s ease-out;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }
}

.example__result-after {
  margin-left: auto;
  font-size: 16px;
  line-height: 20px;
}

.example__result-before {
  font-size: 16px;
  line-height: 20px;
}

.example__result-image-fat {
  display: block;
  margin: 0 auto;
  transition: all 1s ease-out;
}

.example__title {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding: 43px 0 63px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    position: relative;
    top: -215px;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    max-width: 768px;
    margin: 0 auto;
    background-color: $white;
    padding: 0 30px 250px;
  }

  @media (min-width: $desktop-width) {
    max-width: 436px;
    padding: 0;
    padding-top: 70px;
    background-color: $white;
    border: none;
    padding-bottom: 0;
  }
}


.example__result-input-after:checked + .example__result-control-mark {
  position: relative;

  .example__result-image-fat {
    opacity: 0;
    transition: all 1s ease-out;
  }

  &::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 232px;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: url("../img/cat-skinny.png") center no-repeat;
    background-size: contain;
  }
}


.example__result {
  @media (min-width: $mobile-width) {
    max-width: 592px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0 auto;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    min-width: 592px;
    padding-bottom: 25px;
  }
}

.example__result-input-after:checked ~ .example__result-wrap {
  &::after {
    content: "";
    width: 25%;
    transition: all 1s ease-out;

    @media (min-width: $tablet-width) {
      width: 34px;
      transform: translateX(1250%);
      transition: all 1s ease-out;
    }
  }
}

.example__argument {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}
