.form {
  max-width: 630px;

  @media (min-width: $desktop-width) {
    max-width: none;
  }
}

.form-data {
  display: grid;
  grid-auto-rows: 45px;
  row-gap: 13px;

  @media (min-width: $tablet-width) {
    grid-auto-rows: 52px;
    row-gap: 20px;
  }
}

.form__data-cat {
  @include fieldset-default;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    min-width: 569px;
    margin: 0;
  }
}

.form__data-owner {
  @include fieldset-default;
  position: relative;
}

.form__owner-comment {
  @include fieldset-default;
  position: relative;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.form__addition {
  @include fieldset-default;
  position: relative;
}

.form__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    grid-template-rows: 196px;
  }
}

.form__select {
  @include fieldset-default;
  position: relative;


  &::after,
  &::before {
    background-color: #d9d9d9;
  }

  &::after {
    bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-auto-rows: 40px;
    row-gap: 13px;
    min-width: 630px;
    min-height: 196px;
    border: 1px solid #e7e7e7;
    padding-left: 28px;
    margin-bottom: 71px;

    &::after,
    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
    min-height: 200px;
    margin: 0;
  }
}

.form__select-list {
  @include list-default;
  min-height: 157px;
  padding-bottom: 20px;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.form-title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  text-align: left;
  max-width: 187px;
  word-break: break-all;

  &--comment {
    padding: 0;
    padding-bottom: 38px;

    @media (min-width: $tablet-width) {
      margin-bottom: 37px;
    }
  }

  &--addition {
    padding-right: 7px;
  }

  @media (min-width: $tablet-width) {
    max-width: none;
    font-size: 36px;
    line-height: 36px;
    padding: 5px 20px 40px 0;

    &::before {
      margin-top: calc(0.5em + 5px);
      margin-right: 40px;
    }

    &::after {
      margin-top: calc(0.5em + 5px);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 76px;

    &::after {
      margin-left: 40px;
    }

    &::before {
      margin-right: 40px;
    }

    &--comment {
      margin: 0;
    }

    &--addition {
      padding-bottom: 45px;
    }
  }
}

.form__owner-comment-input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  min-width: 280px;
  min-height: 150px;
  width: 100%;
  border: 1px solid #e7e7e7;
  font-family: $font-default;
  font-size: 16px;
  line-height: 18px;
  color: #444444;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    max-width: 631px;
    height: 174px;
    padding: 10px 20px;
    overflow: auto;
  }

  &::placeholder {
    font-family: $font-default;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
      text-align: left;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
  }
}

.form__submit {
  min-width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 0px;
    margin: 0;
    margin-right: 65px;
    min-height: 52px;
  }

  @media (min-width: $desktop-width) {
    min-width: 568px;
    margin-right: 81px;
  }
}

.form__note {
  display: block;
  line-height: 16px;
  color: $black;
  text-align: center;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin: 0;
    align-self: center;
  }
}

.form__wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 72px;
    margin-top: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
    margin-top: 61px;
  }
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
  }
}
