.header-nav {
  font-family: $font-default;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.header-nav__list {
  @include list-default;
  position: absolute;
  z-index: 1;
  background-color: $white;
  left: 0;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: static;
  }

  @media (min-width: $desktop-width) {
    min-height: 110px;
    min-width: 478px;
    align-items: flex-end;
  }
}

.header-nav__list--index-bg {
  @media (min-width: $desktop-width) {
    position: relative;
    color: $white;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -132px;
      width: calc(100vw - 720px);
      height: 694px;
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/index-background-desktop.jpg") center/cover no-repeat;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
          url("../img/bg-image-cat-desctop@2x.jpg") center/cover no-repeat;
      }
    }
  }
}

.header-nav__item {
  flex-basis: 100%;
  border-top: 1px solid #e6e6e6;
  min-height: 66px;

  @media (min-width: $tablet-width) {
    flex-basis: auto;
    border: none;

    &:nth-child(2) {
      margin-left: 33px;
    }

    &:last-child {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

.header-nav__link {
  @include link-default;
  font-family: $font-default;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
    padding-top: 40px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--current {
      border-bottom: 2px solid $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--current-index {
      border-bottom: 1px solid $white;
    }
  }
}

.header-nav--closed .page-header__toggle:active::after {
  background-color: rgba($color: $black, $alpha: 0.5);
  box-shadow: 0 8px 0 0 rgba($color: $black, $alpha: 0.5),
    0 16px 0 0 rgba($color: $black, $alpha: 0.5);
  cursor: pointer;
}
