.header-nav {
  font-family: $font-default;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-left: 94px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.header-nav__list {
  @include list-default;
  position: absolute;
  z-index: 1;
  background-color: $white;
  left: 0;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: static;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    min-height: 110px;
    max-width: 550px;
    align-items: flex-end;
  }
}

.header-nav__list--index-bg {
  @media (min-width: $desktop-width) {
    position: relative;
    color: $white;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -110px;
      height: 694px;
      min-width: 720px;
      background: url("../../img/index-background-desktop.jpg") no-repeat,
        $basic-green;
      background-size: contain;
      background-blend-mode: soft-light;
      z-index: -1;
    }
  }
}

.header-nav__item {
  flex-basis: 100%;
  border-top: 1px solid #e6e6e6;
  min-height: 66px;

  @media (min-width: $tablet-width) {
    flex-basis: auto;
    border: none;
    min-height: 0;
  }
}

.header-nav__link {
  @include link-default;
  font-family: $font-default;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding: 17px;

  @media (min-width: $tablet-width) {
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &--last {
      padding-right: 0;
    }

    &--current {
      border-bottom: 1px solid $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    &--current {
      border-bottom: 2px solid $white;
    }
  }
}

.header-nav--closed .page-header__toggle:active::after {
  background-color: rgba($color: $black, $alpha: 0.5);
  box-shadow: 0 8px 0 0 rgba($color: $black, $alpha: 0.5),
    0 16px 0 0 rgba($color: $black, $alpha: 0.5);
  cursor: pointer;
}
