.logo-head__wrapper-name-shop {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.logo-head__icon {
  @media (min-width: $tablet-width) {
    opacity: 0;
    position: absolute;
  }
}

.logo-head__wrapper-icon {
  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 100px;
      width: 70px;
      height: 60px;
      background: url("../../img/logo-tab.svg") center no-repeat;
      background-size: contain;
    }
  }
}
