.logo-head__wrapper-name-shop {
  margin-left: 57px;

  @media (min-width: 321px) {
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.logo-head__wrapper-icon {
  @media (min-width: $tablet-width) {
    margin-right: 10px;
    margin-top: auto;
  }
}

.logo-head__icon {
  @media (min-width: $tablet-width) {
    display: block;
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 60px;
  }
}
