.main-catalog__container {
  background-color: $white;
}

.main-catalog__inner {
  overflow: hidden;
}

.main-catalog__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 141px 60px;
    grid-auto-rows: 430px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 144px 80px;
  }
}

.main-catalog__title {
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  text-transform: inherit;
  padding-top: 27px;
  padding-bottom: 41px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 122px;
  }
}

.main-catalog__wrapper .product-card:nth-child(2n) {
  .product-card__image-link {
    align-items: flex-end;

    @media (min-width: $tablet-width) {
      width: 168px;
      height: 200px;

      .product-card__image {
        top: -73px;
      }
    }

    @media (min-width: $desktop-width) {
      width: 172px;
      height: 198px;

      .product-card__image {
        top: -80px;
      }
    }
  }
}

.main-catalog__wrapper .product-card:nth-child(3),
.main-catalog__wrapper .product-card:nth-child(5) {
  * img {
    margin-top: 18px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}

.main-catalog__wrapper .product-card:nth-child(2n+1) {
  .product-card__image-link {
    @media (min-width: $tablet-width) {
      width: 162px;
      height: 172px;

      .product-card__image {
        top: -45px;
      }
    }

    @media (min-width: $desktop-width) {
      .product-card__image {
        top: -52px;
      }
    }
  }
}
