.owner__form-data {
  margin-bottom: 25px;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin: 0;
    margin-bottom: 69px;
  }
}

.owner__input {
  padding: 7px 33px 5px 15px;
}

.owner__data:first-child {
  .owner__input {
    @media (min-width: $tablet-width) {
      padding: 7px 33px 5px 22px;
    }
  }
}
