.page-footer {
  background-color: $basic_grey;
}

.page-footer__container {
  min-height: 236px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding: 20px 30px 0;
    flex-direction: row;
    min-height: 147px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    min-height: 150px;
    padding: 0 110px;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__social-list {
  @include list-default;
  min-height: 65px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 63px;

  @media (min-width: 321px) {
    padding: 0;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    margin: 35px auto 0 145px;
    justify-content: center;
    border: none;
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    margin: 30px auto 0 405px;
  }
}

.page-footer__copyright-link {
  @include link-default;
  text-transform: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.page-footer__logo {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $mobile-width) {
    align-self: center;
    min-height: 95px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 63px;
  }
}

.page-footer__copyright-link-text {
  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.page-footer__logo-name-shop-image {
  display: block;
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
