.page-main {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.page-main__selection-diet {
  background-color: $white;
}

.page-main__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 302px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/bg-image-cat-mob.jpg") center/cover no-repeat;
  font-family: $font-default;
  font-style: normal;
  font-weight: normal;
  color: $white;
  margin-bottom: 138px;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/bg-image-cat-mob@2x.jpg") center/cover no-repeat;
  }

  @media (min-width: $tablet-width) {
    background: $white;
    margin-bottom: 20px;
    min-height: auto;
  }
}

.page-main__title {
  font-size: 36px;
  line-height: 36px;
  color: $white;
  margin: 26px auto;
  text-transform: none;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin: 62px 167px 41px 47px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 650px;
    margin-top: 110px;
  }
}

.page-main__slogan {
  font-size: 14px;
  line-height: 14px;
  margin: 0 auto;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    margin-left: 47px;
  }
}

.page-main__image {
  width: 280px;
  position: absolute;
  margin: auto;
  top: -55px;
  left: 0;
  right: 0;
  bottom: 0;

  @media (min-width: $tablet-width) {
    position: static;
    width: 100%;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 1;
    background-color: transparent;
  }
}

.page-main__background {
  position: relative;
  top: -110px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: static;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 552px;
    height: 500px;
    top: -260px;
    left: 150px;
  }
}

.page-main__button {
  padding: 10px 44px;
  max-width: 280px;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    position: relative;
    min-width: 244px;
    min-height: 54px;
    top: -580px;
    left: -120px;
    font-size: 20px;
    line-height: 20px;
    padding: 10px;
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    top: -420px;
    left: -388px;
    margin-top: -100px;
  }
}
