.page-footer {
  background-color: $basic_grey;
}

.page-footer__container {
  min-height: 236px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 147px;
  }

  @media (min-width: $desktop-width) {
    min-height: 150px;
    padding: 0 110px;
  }
}

.page-footer__social-list {
  @include list-default;
  width: 100%;
  min-height: 63px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media (min-width: $mobile-width) {
    flex-grow: 1;
  }

  @media (min-width: $tablet-width) {
    justify-content: center;
    border: none;
  }
}

.page-footer__copyright-link {
  @include link-default;
  text-transform: none;
  display: flex;
  justify-content: space-between;
}

.page-footer__logo {
  @media (min-width: $mobile-width) {
    flex-grow: 1;
    padding-top: 35px;
    align-self: center;
  }
}


.page-footer__copyright {
  @media (min-width: $mobile-width) {
    flex-grow: 1;
  }
}
