.page-header {
  position: relative;

  &::before {
    background-color: #d9d9d9;
    bottom: 0;
    z-index: 1;
  }

  &::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      display: none;
    }
  }
}

.page-header_nav {
  @media (min-width: $tablet-width) {
    margin-left: 85px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 0;
    margin-left: auto;
  }
}

.page-header__container {
  background-color: $white;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 76px;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    min-height: 107px;
  }
}

.page-header__toggle {
  position: absolute;
  background-color: $white;
  border: none;
  padding: 0;
  right: 20px;
  top: 0;
  height: 100%;
  width: 25px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__container--opened .page-header__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 24px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }

  &:active::before,
  &:active::after {
    background-color: fade-out($color: $black, $amount: 0.5);
  }
}

.page-header__container--closed .header-nav {
  @media (max-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-header__container--nojs .page-header__toggle {
  display: none;
}

.page-header__container--nojs .header-nav {
  display: block;
}

.page-header__container--closed .page-header__toggle::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 24px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black,
    0 -8px 0 0 $black;
}

.page-header__logo {
  display: flex;
  align-items: center;
  min-height: 66px;

  * img {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: $tablet-width) {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.page-header__name-shop-image {
  margin-top: 5px;
}
