.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 190px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;

  &::before {
    top: -20px;
  }

  &::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      display: none;
    }

    min-width: 324px;
    border: none;
    justify-content: space-between;
    background-color: $basic_grey;
    padding: 0 38px 40px;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
  }
}

.product-card__item {
  margin: 0;
  display: flex;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    border-bottom: 1px solid $special_grey;
  }
}

.product-card__button {
  margin-top: 8px;
  padding: 10px;

  @media (min-width: $tablet-width) {
    min-width: 248px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 168px;
  }
}

.product-card__container {
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    flex-grow: 1;
  }
}

.product-card__image-link {
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  align-self: start;

  @media (min-width: $tablet-width) {
    align-self: center;
    position: relative;
  }
}

.product-card__inner-conrtainer {
  flex-grow: 1;
  margin-top: -5px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.product-card__title-link {
  @include link-default;
  max-width: 76px;
}

.product-card__title {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-align: left;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.product-card__content,
.product-card__price {
  &--num {
    margin-left: auto;
  }
}

.product-card__image {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: auto;
    position: absolute;
  }
}
