.product-new-card {
  position: relative;
  min-height: 158px;
  padding-top: 53px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 30px;
    background-color: #d3d3d3;
    top: 15px;
    left: calc(50% - 15px);

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 82px;
      left: calc(50% - 30px);
    }
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    min-width: 324px;
    min-height: 430px;
    margin: 0;
    padding: 157px 34px 40px;

    border: 2px solid $basic_grey;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
  }
}

.product-new-card__title {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
  }
}

.product-new-card__detail {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.product-new-card_border-wrap {
  display: flex;
  flex-direction: column;

  & * br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    height: 100%;

    & * br {
      display: inline-block;
    }
  }
}

.product-new-card__button {
  @include link-default;
  position: relative;
  margin-bottom: 50px;

  &::before {
    top: -143px;
  }

  &::after {
    bottom: -25px;
  }

  @media (min-width: $tablet-width) {
    min-width: 250px;
    margin: 0 auto;
    margin-top: auto;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}
