.product-card {
  display: flex;
  flex-direction: column;
  min-height: 190px;
  border-top: 1px solid $special_grey-2;

  @media (min-width: $tablet-width) {
    max-width: 324px;
    border: none;
    justify-content: space-between;
    background-color: $basic_grey;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
  }
}

.product-card__item {
  font-size: 12px;
  line-height: 16px;
}

.product-card__button {
  padding: 10px;

  @media (min-width: $tablet-width) {
    min-width: 248px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 168px;
  }
}

.product-card__container {
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    flex-grow: 1;
  }
}

.product-card__image-link {
  align-self: flex-end;

  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.product-card__inner-conrtainer {
  margin-left: 28px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    margin: 0;
  }
}

.product-card__title-link {
  @include link-default;
}

.product-card__title {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}
