.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 190px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;

  * img {
    margin-top: 10px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &::before {
    top: -20px;
  }

  &::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    min-width: 324px;
    border: none;
    justify-content: space-between;
    background-color: $basic_grey;
    margin-bottom: 0;
    padding: 0 37px 39px 39px;

    &::before {
      content: "";
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
  }
}

.product-card__item {
  margin: 0;
  display: flex;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid $special_grey;

    &:not(:first-child) {
      padding-top: 5px;
    }
  }
}

.product-card__button {
  margin-top: 5px;
  padding: 10px;

  @media (min-width: $tablet-width) {
    min-width: 248px;
    margin: 30px auto 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 168px;
  }
}

.product-card__container {
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    flex-grow: 1;
    margin-top: 0;
  }
}

.product-card__image-link {
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  align-self: start;

  @media (min-width: $tablet-width) {
    margin-bottom: -10px;
    align-self: center;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: -7px;
  }
}

.product-card__inner-conrtainer {
  flex-grow: 1;
  margin-top: -5px;

  @media (min-width: $tablet-width) {
    margin-top: -5px;
  }
}

.product-card__title-link {
  @include link-default;
  max-width: 76px;

  @media (min-width: $tablet-width) {
    max-width: none;
  }
}

.product-card__title {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-align: left;
  margin-bottom: 18px;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;

    & br {
      display: inline-block;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
    margin-top: 5px;
    margin-bottom: 25px;
  }
}

.product-card__content,
.product-card__price {
  &--num {
    margin-left: auto;
  }
}

.product-card__image {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
  }
}

.main-catalog__wrapper .product-card:nth-child(2n) {
  .product-card__image-link {
    align-items: flex-end;

    @media (min-width: $tablet-width) {
      margin-bottom: -40px;
      width: 168px;
      height: 200px;

      .product-card__image {
        top: -73px;
      }
    }

    @media (min-width: $desktop-width) {
      width: 172px;
      height: 198px;
      margin-bottom: -30px;


      .product-card__image {
        top: -80px;
      }
    }
  }
}

.product-card:nth-child(2n+1) {
  .product-card__image-link {
    @media (min-width: $tablet-width) {
      width: 162px;
      height: 172px;

      .product-card__image {
        top: -45px;
      }
    }

    @media (min-width: $desktop-width) {
      .product-card__image {
        top: -52px;
      }
    }
  }
}
