.selection-diet__container {
  padding-top: 20px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    padding-top: 0;
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    grid-template-rows: 374px;
    margin-bottom: 71px;
  }
}

.selection-diet__fatten {
  display: grid;
  grid-template-columns: 67px 1fr;
  column-gap: 10px;
  grid-template-rows: 53px 90px auto;
  row-gap: 22px;
  padding-left: 10px;

  @media (min-width: $tablet-width) {
    padding: 77px 28px 37px 52px;
    grid-template-columns: auto 268px;
    column-gap: 20px;
    grid-template-rows: auto auto auto;
    row-gap: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 61px 40px 33px;
    grid-template-columns: 134px auto;
    column-gap: 47px;
    grid-template-rows: 100px auto;
    row-gap: 27px;
  }
}

.selection-diet__slimming {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 20px;
  grid-template-rows: 53px 90px auto;
  row-gap: 22px;

  @media (min-width: $tablet-width) {
    padding: 75px 62px 37px 52px;
    grid-template-columns: auto 200px;
    column-gap: 54px;
    grid-template-rows: auto auto auto;
    row-gap: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 52px 40px;
    grid-template-columns: 100px auto;
    column-gap: 62px;
    grid-template-rows: 100px auto;
    row-gap: 40px;
  }
}
