.social__link-instagram {
  margin-left: 35px;
  margin-right: 43px;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
    margin-right: 20px;
  }
}

.social__facebook {
  margin-top: 5px;
  stroke: #666666;
  fill: $basic_grey;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 28px;
    height: 33px;
  }
}

.social__icon-vk {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__instagram {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.page-footer__icon {
  fill: #444444;
}

.social__instagram,
.social__icon-vk,
.social__facebook,
.page-footer__copyright-link > svg {
  &:hover {
    stroke: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link-facebook {
  margin-left: -10px;

  @media (min-width: 321px) {
    margin: 0;
  }
}

.social__item:last-child {
  margin-top: -7px;
}
