.social__link-instagram {
  margin-left: 40px;
  margin-right: 40px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.social__facebook {
  stroke: #666666;
  fill: $basic_grey;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}

.social__icon-vk {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__instagram {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.page-footer__icon {
  fill: #444444;
}

.social__instagram,
.social__icon-vk,
.social__facebook,
.page-footer__copyright-link > svg {
  &:hover {
    stroke: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}
